version: 2.1
jobs:
  build:
    docker:
      # new all-in-one docker image
      - image: fr3akyphantom/droid-builder:latest
    environment:
      MANIFEST_BRANCH: 'android-9.0'
      PBRP_BRANCH: 'xy'
      VERSION: '3.0.0'
      MAINTAINER: '@Reza_Adi_Pangestu'
      VENDOR: 'xiaomi'
      CODENAME: 'whyred'
      BUILD_LUNCH: 'omni_whyred-eng'
      # Remove the following when Publishing Official
      TEST_BUILD: 'true'
      # Only for Official Build, uncomment following
      # PB_OFFICIAL: 'true'
      CHANGELOG: |
        - Bringup 3.0 
        - Source side changes 
        - Fully Redesigned UI 
        - New Android like Power Menu (Activated via power key hold) 
        - Flashlight toggled by Vol up(+) on hold 
        - Flashlight toggle on Lockscreen 
        - Etc.
    working_directory: /home/builder/pitchblack
    steps:
      - run:
          name: AIO Build
          command: |
            echo "Set GitAuth Infos too"
            git config --global user.email $GitHubMail
            git config --global user.name $GitHubName
            git config --global color.ui true
            wget -q https://raw.githubusercontent.com/PitchBlackRecoveryProject/vendor_utils/pb/build.sh
            source build.sh
workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              only: android-9.0
          context: org-global
